body {
	margin: 0;
	padding: 0;
}

#ww-header {
	position: relative;
	background-color: #4F9F52;
	padding: 5px;
	color: #ffffff;
	height: 17px;
}

#ww-header h1 {
	position: absolute;
	top: 3px;
	left: 10px;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: #3F7F42 3px 3px 5px;
	margin: 0;
	padding: 0;
}

#ww-header #ww-logout {
	position: absolute;
	top: 3px;
	right: 10px;
}

#ww-header #ww-logout a {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: #3F7F42 3px 3px 5px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #CFFFD1;
	border-bottom: 1px solid #8BDF8F;
}

#ww-header #ww-logout a:hover, #ww-header #ww-logout a:active {
	color: #ffffff;
}

.ww-cleared {
	clear: both;
}

#ww-wrapper {
	position: relative;
	font-family: sans-serif;
}

#ww-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	background-color: #f0f0f0;
	padding: 10px;
}

#ww-content {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 170px;
	padding: 10px;
}

.ww-button {
	cursor: pointer;
	background-color: #30476F;
	color: #FFFFFF;
	padding: 3px;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
}

