<html>
	<head>
		<title>Webworm</title>
		<link type="text/css" rel="stylesheet" href="{{webroot}}/static/css/reader.css" />
		<script src="{{webroot}}/static/js/jquery.min.js"></script>
		<script src="{{webroot}}/static/js/helpers.js"></script>
		<script src="{{webroot}}/static/js/reader.js"></script>
		<script>
			$(function() {
				var reader = new Reader();
				reader.load_feeds();
			});
		</script>
	</head>
	<body>
		<div id="ww-header">	
			<h1>webworm</h1>
			<div id="ww-logout"><a href="{{webroot}}/?c=user&a=logout">Logout</a></div>
			<div class="ww-cleared"></div>
		</div>

		<div id="ww-wrapper">
			<div id="ww-sidebar">
				<div id="ww-add-feed" class="ww-button">Add Feed</div>
				<div id="ww-feeds"></div>
			</div>

			<div id="ww-content">
				the content
			</div>
		</div>
	</body>
</html>

