<script>
	$(function(){
		$('#username').select().focus();
	});
</script>

{{#errors_exist}}
	<ul id="errors">
	{{#errors}}
		<li>{{message}}</li>
	{{/errors}}
	</ul>
{{/errors_exist}}

<form action="{{webroot}}/" method="post">
	<input type="hidden" name="c" value="user" />
	<input type="hidden" name="a" value="login" />
	<ul>
		<li>
			<label>Username</label>
			<input type="text" name="username" id="username" value="{{username}}" />
		</li>
		<li>
			<label>Password</label>
			<input type="password" name="password" id="password" />
		</li>
		<li class="submit">
			<input type="submit" value="Login" />
		</li>
	</ul>
</form>
